<div class="container">
  <div class="row">
    <table class="table table-bordered table-hover mt-5">
      <thead class="bg-success text-white">
        <tr>
          <td>Video</td>
          <td>Course Name</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of allvideo">
          <td><iframe [src]='k.Path|safepipe' style="height:120px;width:200px"></iframe></td>
          <td>{{k.Title}}</td>
          <td>
            <button (click)="Sendtoupdate(k)" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            <button (click)="Sendtodelete(k)" class="btn btn-danger ml-2" data-toggle="modal" data-target="#modelId"><i
                class="fa fa-trash"></i>&nbsp;Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">&nbsp; Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> &nbsp; Are you sure to delete this
          Course?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="DeleteRecord()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>